{% extends 'base.html' %}
{% block content %}
{% load static %}
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        setInterval(function(){
        $.ajax({
            type: 'GET',
            url : "/mensajeria/getMessages/{{room}}/",
            success: function(response){
                console.log(response);
                $("#display").empty();
                for (var key in response.messages)
                {
                    var temp="<div class='container darker'><b>"+
                        response.messages[key].user+
                        "</b><p>"+response.messages[key].value+
                        "</p><span class='time-left'>"+
                        response.messages[key].date+
                        "</span></div>";
                    $("#display").append(temp);
                }
            },
            error: function(response){
                alert('An error occured')
            }
        });
        },1000);
    })

    window.onload = function() {
        setInterval(scrollBottonThread, 1000);
    }

    function scrollBottonThread(){
        let thread = document.getElementById("thread");
        thread.scrollTop = thread.scrollHeight;
    }

    </script>
    <main>
<section class="bg-white dark:bg-gray-900 pb-20" >    
    <div class="py-8 lg:py-1 px-4 mx-auto max-w-screen-md">
        <div class="container mx-auto">
            <div class="max-w-2xl border rounded">
                <div>
                    <div class="w-full">
                        <div class="relative flex items-center p-3 border-b border-gray-300 ">
                            <img class="object-cover w-10 h-10 rounded-full"
                            src="   {% if request.user.usercolaborator.profile_picture == 'False' %}
                                    {% if random_int  == 1 %}{% static 'img/SinPerfil_Masculino.png' %}
                                    {% else %}{% static 'img/SinPerfil_Femenino.png' %}
                                {% endif %}             
                                {% else %}  
                                    {% if request.user.usercolaborator.profile_picture %}{{ request.user.usercolaborator.profile_picture.url }} 
                                    {% else %} 
                                        {% if random_int  == 1 %}{% static 'img/SinPerfil_Masculino.png' %}
                                        {% else %}{% static 'img/SinPerfil_Femenino.png' %}
                                        {% endif %}                                          
                                    {% endif %}                                          
                                {% endif %}"   
                            alt="  
                                {%if request.user.first_name %}
                                    {{ request.user.first_name }} {{ request.user.last_name }}
                                {%else%}
                                    {{ request.user.username }}
                                {%endif%}
                                    " 
                            />
                            <span class="absolute w-3 h-3 bg-green-600 rounded-full left-10 top-3">
                            </span>  
                            <div>
                                <div>
                                    <span class="block ml-2 font-bold text-gray-600">
                                        {%if request.user.first_name %}
                                            {{ request.user.first_name }} {{ request.user.last_name }} 
                                        {%else%}
                                            {{ request.user.username }}
                                        {%endif%}
                                    </span>                           
                                </div>
                                <div>
                                    <p class="text-xs md:text-sl leading-none mb-2  flex justify-center ">
                                        {{ request.user.usercolaborator.perfil.name }}
                                    </p>
                                </div>	                            
                            </div>
                        </div>
                        <div  id="thread" class="relative w-full p-6 overflow-y-auto h-[30rem]">
                            <ul class="space-y-2">
                                <div id="display">
                                </div>
                                
                            </ul>
                        </div>
                        <div>
                            
                            <form id="post-form">
                                {% csrf_token %}
                                <input type="hidden" name="username" id="username" value=" {{ request.user.username }}"/> 
                                <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}"/>   
                                

                                <div class="flex p-4 border-t border-gray-300">
                                
                                    <div class="basis-11/12 pr-2" >
                                        <input type="text" name="message" id="message"   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required/>
                                    </div>
                                    <div class="basis-1/12 pl-2">                                        
                                        <button type="submit"  value="Send" class="inline-flex items-center justify-center rounded-lg px-4 py-2.5 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-400 focus:outline-none">
                                            <span class="font-bold">Send</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6 ml-2 transform rotate-90">
                                                <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
                                            </svg>
                                            </button>                                        
                                    </div>                              
                                </div>
                            </form>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>  
    <div>           
</section>    
<script type="text/javascript">
    $(document).on('submit','#post-form',function(e){
    e.preventDefault();

    $.ajax({
        type:'POST',
        url:'/mensajeria/send',
        data:{
            username:$('#username').val(),
            room_id:$('#room_id').val(),
            message:$('#message').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(data){
        }
    });
    document.getElementById('message').value = ''
    });
</script>


</main>
{% endblock content %}