{% load extras %}
{% load static %}
<header class="border-b-4 border-black text-gray-600 body-font">

    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <div class="flex justify-between pl-5">
        <figcaption class="font-medium">
                <a href="{% url 'home' %}" class="ml-3 text-xl">Blog</a>
        </figcaption>
        </div>
            </a>
            <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400    flex flex-wrap items-center text-base justify-center">
                <a href="{% url 'home' %}" class="mr-4 hover:text-gray-900 rounded-lg hover:bg-sky-100 inline-flex items-center">Home</a>
                <a href="{% url 'about' %}" class="mr-4 hover:text-gray-900 rounded-lg hover:bg-sky-100 inline-flex items-center">Acerca de nosotros</a>
                <a href="{% url 'allposts' %}" class="mr-4 hover:text-gray-900 rounded-lg hover:bg-sky-100 inline-flex items-center">Post</a>
            </nav>
            <form action ="{% url 'search' %}" class ="search-form"> 
            <div class="pt-2 relative mx-auto text-gray-600">
                <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                type="text" name="q" placeholder="Search">
                <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                    viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                    width="512px" height="512px">
                    <path
                    d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                </svg>
                </button>
            </div>
        </form>
            {% if not request.user.is_authenticated %}
            <div class="flex justify-between pl-5">
                <figcaption class="font-medium">
                    <div  >
                        <a href="{% url 'login' %}">
                        <img class="w-12 h-12 rounded-full mx-auto" src="{% static 'img/Login.png' %}"  alt="Login" >
                        Login</a>
                    </div>
                </figcaption>
            </div>
            {% else %}
            <div class="flex justify-between pl-5">
                <figcaption class="font-medium">
                    <div>
                        <a href="{% url 'perfil' %}">
                        <img class="w-12 h-12 rounded-full mx-auto" 
                        src="   {% if request.user.usercolaborator.profile_picture == 'False' %}
                                    {% if random_int  == 1 %}{% static 'img/SinPerfil_Masculino.png' %}
                                    {% else %}{% static 'img/SinPerfil_Femenino.png' %}
                                {% endif %}
                                {% else %}
                                    {% if request.user.usercolaborator.profile_picture %}{{ request.user.usercolaborator.profile_picture.url }} 
                                    {% else %} 
                                        {% if random_int  == 1 %}{% static 'img/SinPerfil_Masculino.png' %}
                                        {% else %}{% static 'img/SinPerfil_Femenino.png' %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}"
                            alt="colaborator" >
                        {{request.user.username}}</a>
                    </div>
                </figcaption>
            </div>
            <div class="flex justify-between pl-5">
                <figcaption class="font-medium">
                    <div  >
                        <a href="{% url 'logout' %}">
                        <img class="w-12 h-12 rounded-full mx-auto" src="{% static 'img/Logout.png' %}"  alt="Logout" >
                        Logout</a>
            </div>
                </figcaption>
            </div> 
        {% endif %}
    </div>
    </header>